.App{
    display: flex;
    height:100vh;
    background-color: #020230;
    color: white;
}

.left{
    flex:10;
    background: linear-gradient(to bottom, rgba(0,0,0,0) ,#020230), url("assets/bg.jpg") center;
    display: flex;
    flex-direction: column;
}

.textAmount{
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    font-size: 30px;
}

.top{
    height:50%;
    position: relative;
    
}

.timer{
    height:70px;
    width:70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    
    
}
.bottom{
   height:50%;


}

.Trivia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.question{
    width:80%;
    font-size: 23px;
    padding:10px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid white;
}

.Answers{
    display: flex;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
   
}
.answer{
    width:40%;
    padding:10px;

    border: 1px solid white;
    border-radius: 14px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin:0px 10px 10px 0px;
    cursor: pointer;
}

.Trivia .Answers .answer:hover,.answer.active{
    background-color: mediumblue; /* Add !important for testing */
  }

  .answer.correct {
    animation: correct 3s ease forwards;
}
.answer.wrong {
    animation: wrong 3s ease forwards;
}
@keyframes correct {
    0%, 22%, 42% {
        background-color: aqua;
    }
    20%, 40%,60% {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230);
    }
    62%,100%{
        background-color: green;
    }
}

@keyframes wrong {
    0%, 22%, 42% {
        background-color: aqua;
    }
    20%, 40%,60% {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230);
    }
    62%,100%{
        background-color: crimson;
    }
}
.right{
    flex:4;
     display: flex;
     align-items: center;
     justify-content: center;
}

.moneylist{
    list-style: none;
    width: 100%;
    padding:10px;
}

.moneylistItem{
    
    display: flex;
    align-items: center;
    border-radius: 7px;
}
.moneylistItem.active{
     background-color:brown;
}
.moneylistItemNumber{
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}
.moneylistItemAmount{
    font-size: 20px;
    font-weight: 300;
}